* {
    margin-bottom:20px;
    margin-bottom:15px;
    margin-bottom:15px;
    margin-bottom:10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color: azure;
    background-color: black;
}
header {
    text-align: center;
    margin-top: 180px;
    font-size: 25px;
}
main {
    text-align: center;
    margin-top: 70px;
}
main h2 {
    text-decoration: underline 3px;
}
div {
    margin-top: 20px;
    float: left;
    width: 25%;
}
div img {
    border: solid rgb(83, 81, 81) 6px;
    border-radius: 40px; 
}
div a {
    text-decoration: none;
    color: azure;
}
div h3:hover {
    transform: scale(1.5,1.5);
}
